# Preprocessing clinical data

We do this prior to upload because of patient merging issues.

In [1]:
import pandas as pd
import numpy as np
from redcap_preprocessing import redcap_preprocessing

redcap_filepath = '/Users/gustaveronteix/Documents/data/OraklOnco/clinical/20240403/raw/ColonGR-PDO_DATA_2024-03-29_1424.csv'
output_dir = '/Users/gustaveronteix/Documents/data/OraklOnco/clinical/20240403/single_files'
conversion_table_filepath = 'conversion_table/redcap_CRC_conversion_table.csv'
disease_type = 'CRC'

redcap_preprocessing.preprocess_redcap_data(redcap_filepath,
                                            disease_type=disease_type,
                                            output_dir=output_dir,
                                            save_as_single_file = False)

Detected encoding: UTF-8-SIG
Index(['record_id', 'redcap_repeat_instrument', 'redcap_repeat_instance',
       'cohorte___1', 'cohorte___2', 'cohorte___3', 'cohorte___4',
       'cohorte___5', 'sexe', 'dob',
       ...
       'hit_chimiogramme_drug___23', 'hit_chimiogramme_drug___24',
       'hit_chimiogramme_drug___25', 'hit_chimiogramme_drug___26',
       'hit_chimiogramme_drug___27', 'hit_chimiogramme_drug___28',
       'excel_chimiogramme', 'ctb_yes_no', 'date_ctb', 'organoides_complete'],
      dtype='object', length=493)
Formatting dates in column date_birth
26    1989-09-29
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
26    2020-06-30
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
26    2022-05-18
Name: date_death, dtype: object
Formatting dates in column date_cell_line
26    2022-03-25
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
26    2020-11-04
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
38    1954-06-22
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
38    2018-09-25
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
38    2020-07-03
Name: date_death, dtype: object
Formatting dates in column date_cell_line
38    2019-06-24
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
38    2019-06-24
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
39    1971-10-01
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
39    2017-03-17
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
39    2022-11-21
Name: date_death, dtype: object
Formatting dates in column date_cell_line
39    2019-09-03
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
39    2017-03-21
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
39    1971-10-01
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
39    2017-03-17
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
39    2022-11-21
Name: date_death, dtype: object
Formatting dates in column date_cell_line
39    2022-02-07
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
39    2017-03-21
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
40    1949-01-08
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
40    2013-06-03
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
40    2020-10-23
Name: date_death, dtype: object
Formatting dates in column date_cell_line
40    2019-10-23
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
40    2013-06-15
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
41    1940-03-12
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
41    2019-12-16
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
41    2023-09-19
Name: date_death, dtype: object
Formatting dates in column date_cell_line
41    2020-01-16
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
41    2021-01-16
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
42    1959-12-06
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
42    2019-06-16
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
42    2020-09-01
Name: date_death, dtype: object
Formatting dates in column date_cell_line
42    2020-03-12
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
42    2019-10-09
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
43    1971-12-19
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
43    2019-10-15
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
43    2023-12-07
Name: date_death, dtype: object
Formatting dates in column date_cell_line
43    2020-06-22
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
43    2020-03-16
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
44    1943-07-08
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
44    2020-08-07
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
44    2023-08-26
Name: date_death, dtype: object
Formatting dates in column date_cell_line
44    2020-09-16
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
44    2020-09-16
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
45    1938-02-27
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
45    2020-08-05
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
45    2023-12-07
Name: date_death, dtype: object
Formatting dates in column date_cell_line
45    2020-09-24
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
45    2020-09-24
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
46    1947-01-25
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
46    2019-02-15
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
46    2023-04-04
Name: date_death, dtype: object
Formatting dates in column date_cell_line
46    2020-09-25
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
46    2020-09-25
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
47    1934-01-26
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
47    2019-01-22
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
47    2023-06-16
Name: date_death, dtype: object
Formatting dates in column date_cell_line
47    2020-10-08
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
47    2019-02-28
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
48    1971-01-05
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
48    2020-03-06
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
48    2023-11-08
Name: date_death, dtype: object
Formatting dates in column date_cell_line
48    2020-10-13
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
48    2020-10-13
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
49    1947-12-13
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
49    2017-07-17
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
49    2023-11-27
Name: date_death, dtype: object
Formatting dates in column date_cell_line
49    2020-10-21
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
49    2018-02-26
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
50    1968-12-06
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
50    2020-11-05
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
50    2023-11-10
Name: date_death, dtype: object
Formatting dates in column date_cell_line
50    2020-11-19
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
50    2020-11-19
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
51    1966-09-01
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
51    2020-01-14
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
51    2023-10-26
Name: date_death, dtype: object
Formatting dates in column date_cell_line
51    2020-11-20
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
51    2020-02-28
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
52    1965-12-10
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
52    2019-08-09
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
52    2023-10-25
Name: date_death, dtype: object
Formatting dates in column date_cell_line
52    2020-11-26
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
52    2020-11-26
Name: date_primitive_surgery, dtype: object
There are no PDO cell lines for record_id 53.
There are no PDO cell lines for record_id 53.
Formatting dates in column date_birth
53    1942-05-06
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
53    2020-10-21
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
53    2022-09-29
Name: date_death, dtype: object
Formatting dates in column date_cell_line
53
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
53    2020-11-30
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
54    1963-09-20
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
54    2019-06-17
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
54    2023-12-11
Name: date_death, dtype: object
Formatting dates in column date_cell_line
54    2020-12-01
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
54    None
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
55    1955-02-21
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
55    2019-09-15
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
55    2023-09-14
Name: date_death, dtype: object
Formatting dates in column date_cell_line
55    2020-12-16
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
55    2019-10-15
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
56    1981-12-03
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
56    2018-12-27
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
56    2021-10-09
Name: date_death, dtype: object
Formatting dates in column date_cell_line
56    2021-01-08
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
56    2019-10-31
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
58    1975-12-18
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
58    2020-10-07
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
58    2022-07-11
Name: date_death, dtype: object
Formatting dates in column date_cell_line
58    2022-04-12
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
58    None
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
88    1951-04-17
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
88    2019-11-15
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
88    2021-05-15
Name: date_death, dtype: object
Formatting dates in column date_cell_line
88    2021-01-12
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
88    2019-11-06
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
89    1963-06-12
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
89    2019-07-30
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
89    2021-12-26
Name: date_death, dtype: object
Formatting dates in column date_cell_line
89    2021-02-09
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
89    2019-08-01
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
90    1978-05-10
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
90    2020-09-14
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
90    2021-04-05
Name: date_death, dtype: object
Formatting dates in column date_cell_line
90    2021-03-12
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
90    None
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
91    1956-01-29
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
91    2011-04-14
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
91    2021-04-24
Name: date_death, dtype: object
Formatting dates in column date_cell_line
91    2021-04-02
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
91    2011-04-14
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
92    1976-01-06
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
92    2014-07-30
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
92    2022-02-23
Name: date_death, dtype: object
Formatting dates in column date_cell_line
92    2021-06-08
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
92    2015-09-23
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
93    1977-04-01
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
93    2020-12-30
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
93    2023-10-05
Name: date_death, dtype: object
Formatting dates in column date_cell_line
93    2021-06-08
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
93    2021-01-01
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
93    1977-04-01
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
93    2020-12-30
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
93    2023-10-05
Name: date_death, dtype: object
Formatting dates in column date_cell_line
93    2023-04-20
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
93    2021-01-01
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
94    1959-02-04
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
94    2016-02-15
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
94    2021-06-28
Name: date_death, dtype: object
Formatting dates in column date_cell_line
94    2021-06-15
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
94    2016-08-24
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
95    1968-03-25
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
95    2016-07-15
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
95    2022-05-06
Name: date_death, dtype: object
Formatting dates in column date_cell_line
95    2021-11-16
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
95    2016-07-15
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
96    1948-08-08
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
96    2020-08-08
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
96    2022-01-30
Name: date_death, dtype: object
Formatting dates in column date_cell_line
96    2021-11-26
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
96    None
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
97    1978-07-21
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
97    2020-04-16
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
97    2023-01-23
Name: date_death, dtype: object
Formatting dates in column date_cell_line
97    2021-12-01
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
97    2020-04-23
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
97    1978-07-21
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
97    2020-04-16
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
97    2023-01-23
Name: date_death, dtype: object
Formatting dates in column date_cell_line
97    2022-05-11
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
97    2020-04-23
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
98    1962-11-09
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
98    2017-11-28
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
98    2022-06-18
Name: date_death, dtype: object
Formatting dates in column date_cell_line
98    2021-12-10
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
98    2017-11-28
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
99    1965-09-30
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
99    2019-01-15
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
99    2022-01-25
Name: date_death, dtype: object
Formatting dates in column date_cell_line
99    2021-12-14
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
99    2020-02-15
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
100    1950-10-04
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
100    2021-03-15
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
100    2022-03-05
Name: date_death, dtype: object
Formatting dates in column date_cell_line
100    2022-01-11
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
100    2021-03-25
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
101    1975-04-10
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
101    2017-09-22
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
101    2023-11-01
Name: date_death, dtype: object
Formatting dates in column date_cell_line
101    2022-01-28
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
101    2017-09-22
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
102    1958-05-09
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
102    2019-03-15
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
102    2022-08-20
Name: date_death, dtype: object
Formatting dates in column date_cell_line
102    2022-02-07
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
102    2019-03-18
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
103    1943-11-22
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
103    2020-09-15
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
103    2022-07-04
Name: date_death, dtype: object
Formatting dates in column date_cell_line
103    2022-02-10
Name: date_cell_line, dtype: object
Formatting dates in column date_primitive_surgery
103    None
Name: date_primitive_surgery, dtype: object
Formatting dates in column date_birth
104    1949-01-31
Name: date_birth, dtype: object
Formatting dates in column date_diagnosis
104    2020-01-01
Name: date_diagnosis, dtype: object
Formatting dates in column date_death
104    2022-08-27
Name: date_death, dtype: object
Formatting dates in column date_cell_line
104    2022-04-29
Name: date_cell_line, dtype: object

In [2]:
from redcap_preprocessing import redcap_preprocessing

redcap_filepath = '/Users/gustaveronteix/Documents/data/OraklOnco/clinical/20240403/raw/PANCREASGR-PDO_DATA_2024-03-29_1423.csv'
redcap_filepath = '/Users/gustaveronteix/Documents/data/OraklOnco/clinical/20240403/raw/ALICECHECK_PANCREASGR-PDO_DATA_2024-03-29_1423.csv'

output_dir = '/Users/gustaveronteix/Documents/data/OraklOnco/clinical/20240403/single_files'
conversion_table_filepath = 'conversion_table/redcap_PGR_conversion_table.csv'
disease_type = 'PDAC'

redcap_preprocessing.preprocess_redcap_data(redcap_filepath,
                                            disease_type=disease_type,
                                            output_dir=output_dir,
                                            save_as_single_file = False)

Detected encoding: Windows-1254
Index(['record_id', 'redcap_repeat_instrument', 'redcap_repeat_instance',
       'sexe', 'dob', 'dod', 'age_diagnosis', 'poids_diag', 'taille_diag',
       'deces_ou_perte_de_vue',
       ...
       'datectb', 'ctbproposal', 'specifymutation', 'frozen_pdo', 'dnarna_pdo',
       'moleculardata_pdo___1', 'moleculardata_pdo___2',
       'moleculardata_pdo___3', 'histo_pdo', 'organodes_complete'],
      dtype='object', length=315)
There are no PDO cell lines for record_id 12.
There are no PDO cell lines for record_id 12.
There are no PDO cell lines for record_id 101.
There are no PDO cell lines for record_id 101.
There are no PDO cell lines for record_id 450.
There are no PDO cell lines for record_id 450.
There are no PDO cell lines for record_id 1174.
There are no PDO cell lines for record_id 1174.
Detected encoding: Windows-1254
There are no PDO cell lines for record_id 12.
There are no PDO cell lines for record_id 12.
There are no PDO cell lines for record_id 101.
There are no PDO cell lines for record_id 101.
There are no PDO cell lines for record_id 450.
There are no PDO cell lines for record_id 450.
There are no PDO cell lines for record_id 1174.
There are no PDO cell lines for record_id 1174.
Detected encoding: Windows-1254
There are no PDO cell lines for record_id 12.
There are no PDO cell lines for record_id 12.
There are no PDO cell lines for record_id 101.
There are no PDO cell lines for record_id 101.
There are no PDO cell lines for record_id 450.
There are no PDO cell lines for record_id 450.
There are no PDO cell lines for record_id 1174.
There are no PDO cell lines for record_id 1174.